@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-item {
    padding: 1rem;
    line-height: 1.25rem;

    &:hover {
        background-color: rgb(243 244 246 / 1);
    }
}

.option-active {
    & .number-data {
        background-color: black;
        color:white;
    }

    & .option-data {
        font-weight: 900;
    }
}

.answered {
    background-color: rgb(243 244 246 / 1);
}
